* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
background-color:#ffebeb;
background-image: url("./website/main-photo/Background.jpeg");
background-repeat:no-repeat;
background-size: cover;
background-attachment: fixed;

}

.background{
  
    /* background-image: url("./website/main-photo/Circle.png")  ; */
    background-position: right bottom, left top;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
    top: 0px;
    background-position-y: 28px;
    background-position-x: 83%;
    background-size: 170px;
}

.heading{
  margin-top: 8%;
  font-size: 25px;
  height: 85px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-underline-position: under;
  
 
}


.form input{
  width: 100%;
  height: 41px;
  border: 0.1px solid rgba(61, 103, 152, 0.63);
  background-color: rgba(255, 255, 255, 0.28);
  border-radius:6px;

}
.form textarea{
  width: 100%;
  height: 41px;
  border: 0.1px solid rgba(61, 103, 152, 0.63);
  background-color: rgba(255, 255, 255, 0.28);
  border-radius:6px;


}

.Button{
  color: white;
  background-color: #3C48A9;
  padding: 8px;
  border: 1px solid black;
  border-radius: 7px;
    width: 124px;
}




.form p{
  font-size: 16px;
  font-family: system-ui;
    font-weight: 500;
}

.form p span{
  color: #3C48A9;
}


.select{
  width: 100%;
  height: 41px;
  border: 0.1px solid rgba(61, 103, 152, 0.63);
  background-color: rgba(255, 255, 255, 0.28);
  border-radius:6px;
}

.file{
  padding-top: 9px;
  padding-left: 13px;
  height: 52px!important;
}

@media(max-width:800px){
  body{
    background-position: center;
  }
}
